@font-face {
  font-family: 'Cozette';
  src: url('/fonts/CozetteVector.ttf') format('truetype');
  font-display: swap;
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Cozette', monospace;
}
